.app-card {
    border-radius: 4px;
    background-color: white;
    border-color: rgb(11, 95, 60);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-style: solid;
    border-width: .1rem;    
    height: 100%;
  }